
<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>AssignForce</title>

<!-- jQuery -->
<script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">
<!-- Optional theme -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
	integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
	crossorigin="anonymous">
<!-- Latest compiled and minified JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
	integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
	crossorigin="anonymous"></script>
<!--  
		<link rel="stylesheet" href="resources/bootstrap-3.3.7-dist/js/bootstrap.min.js">
		<link rel="stylesheet" href="resources/bootstrap-3.3.7-dist/js/ui-bootstrap-tpls-2.2.0.min.js"> -->
<meta charset="utf-8">
<meta name="theme-color" content="#f26925">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<title>Revature | Advancing Talent and Technologies</title>
<link rel="canonical" href="https://revature.com" />

<link
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"
	rel="icon" />
<script src="https://use.typekit.net/pvo4jdm.js"></script>
<script>
	try {
		Typekit.load({
			async : true
		});
	} catch (e) {
	}
</script>
<meta
	content="We’re a leading-edge technology solutions firm with an unparalleled talent development platform that empowers people and companies to move forward, faster."
	name="description">
<meta name="keywords"
	content="training program, software development, find developers, hire software developer" />
<style type="text/css">
.wf-loading {
	visibility: hidden;
}
</style>
<script src="https://use.fontawesome.com/8d8fa1da46.js"></script>
<link href="css/style.css" rel="stylesheet" />
<link href="css/assignForceCSS.css" rel="stylesheet" />
</head>

<body ng-app="batchApp">
	<div ng-controller="HomeCtrl as hCtrl">
		<div class="col-sm-4 col-md-offset-5"
			ng-hide="hCtrl.isUserAuthenticated()">
			<div>
				<h4>You must login to continue</h4>
				<form name="loginForm" novalidate>
					<div class="input-group">
						<input name="username" type="text" placeholder="Username/Email"
							class="form-control" required
							ng-model="hCtrl.credentials.username" />
					</div>
					<div class="input-group">
						<input name="password" type="password" placeholder="Password"
							class="form-control" required
							ng-model="hCtrl.credentials.password" />
					</div>
					<div class="input-group">
						<button class="btn btn-primary" ng-disabled="loginForm.$invalid"
							ng-click="hCtrl.login()">Login</button>
						<p ng-show="hCtrl.hasError()" style="color: red;">{{hCtrl.getError()}}</p>
					</div>
				</form>
			</div>
		</div>

		<div ng-show="hCtrl.isUserAuthenticated()">
			<div class="navbar-wrapper hero-bm">
				<div class="container">

					<nav class="navbar navbar-revature navbar-static-top navbar-bg">
						<div class="container">
							<div class="navbar-header">
								<button type="button" class="navbar-toggle collapsed"
									data-toggle="collapse" data-target="#navbar"
									aria-expanded="false" aria-controls="navbar">
									<span class="sr-only">Toggle navigation</span> <span
										class="icon-bar"></span> <span class="icon-bar"></span> <span
										class="icon-bar"></span>
								</button>
								<div class="logo">
									<a href="#/"><img src="img/revature_logo.png"
										alt="Revature" /></a>
								</div>
							</div>
							<div id="navbar" class="navbar-collapse collapse rev-menu">
								<ul class="nav navbar-nav">
									<li><a href="#trainers"> VIEW TRAINERS </a></li>
									<!--<li><a href="#viewbatches">VIEW BATCHES</a></li>-->
									<li><a href="#batches"> VIEW BATCHES </a></li>
									<!--Phase II-->
									<!--<li><a href="#contact">SOLUTIONS</a></li>-->
									<li><a href="#createBatch"> CREATE BATCH </a></li>
									<li><a href="#locations"> LOCATIONS </a></li>
									<!--Phase II-->
									<!--<li><a href="#contact">INSIGHTS</a></li>-->
								</ul>
							</div>
						</div>
					</nav>
				</div>
			</div>

			<div ng-view></div>
		</div>
	</div>
</body>

<!-- AngularJS -->
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>

<!-- Angular modules -->
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.min.js"></script>
<script type="text/javascript"
	src="misc/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script type="text/javascript"
	src="misc/bootstrap-3.3.7-dist/js/ui-bootstrap-tpls-2.2.0.min.js"></script>

<!-- Angular scripts -->
<script type="text/javascript" src="js/assignforce.js"></script>
<!--<script type="text/javascript" src="../js/createbatch.js"></script>-->

<!-- Controllers -->
<script type="text/javascript"
	src="js/controllers/allBatchesController.js"></script>
<script type="text/javascript"
	src="js/controllers/createBatchController.js"></script>
<script type="text/javascript"
	src="js/controllers/locationController.js"></script>
<script type="text/javascript"
	src="js/controllers/timelineController.js"></script>
<script type="text/javascript" src="js/controllers/trainerController.js"></script>
<script type="text/javascript" src="js/controllers/homeController.js"></script>

<!-- Services -->
<script type="text/javascript" src="js/services/calendarService.js"></script>
<script type="text/javascript" src="js/services/allBatchesService.js"></script>
<script type="text/javascript" src="js/services/createBatchService.js"></script>
<script type="text/javascript" src="js/services/locationService.js"></script>
<script type="text/javascript" src="js/services/roomService.js"></script>
<script type="text/javascript" src="js/services/trainerService.js"></script>
<script type="text/javascript" src="js/services/userService.js"></script>

<!-- Directives -->
<script type="text/javascript" src="js/directives/angular-typeahead.js"></script>
<script type="text/javascript" src="js/directives/datetimepicker.js"></script>
<script type="text/javascript"
	src="js/directives/skillSearchItemDirective.js"></script>

<!-- Factories -->
<script type="text/javascript" src="js/factories/transferService.js"></script>

<!-- Functions -->
<script type="text/javascript"
	src="js/functions/createBatchFunctions.js"></script>

<!-- Misc -->
<script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.js"></script>
<!--<script type="text/javascript" src="js/allbatches.js"></script>-->
<!--<script type="text/javascript" src="js/timeline.js"></script>-->
</body>

</html>