<div>
	<div class="batchView">
		<h3>View All-Batches</h1>
		<table class="table table-sm" style="width: 100%">
			<tr class="tableHeader" id="tableHeader">
				<th>Batch Name</th>
				<th>Curriculum</th>
				<th>Trainer</th>
				<th>Start Date</th>
				<th>End Date</th>
				<!-- <th></th> -->
			</tr>
			<tr class="tableRow" ng-repeat="batch in Batches">
				<td>{{ batch.bName }}</td>
				<td>{{ batch.batchCurriculumID.curriculumName }}</td>
				<td>{{ batch.batchTrainerID.trainerFirstName }} {{ batch.batchTrainerID.trainerLastName }}</td>
				<td>{{ createDate(batch.batchStartDate) }}</td>
				<td>{{ createDate(batch.batchEndDate) }}</td>
				<!-- <td><div class="btn-group"><button class="btn btn-primary btn-xs">Edit</button><button class="btn btn-warning btn-xs">Clone</button></div></td> -->
			</tr>
		</table>
	</div>
	<br><br>
	
	<div ng-controller="TimelineCtrl">
		<div class="batchView">
			<h3>Batch Timeline</h3>
			<div class="row">
				<div class="col-md-2">
					<h4>Start Date:</h4>
					<div style="display: inline-block;" uib-datepicker datepicker-options="options" ng-model="minDate" class="well"></div>
				</div>
				<div class="col-md-2 col-md-offset-1">
					<h4>End Date:</h4>
					<div style="display: inline-block;" uib-datepicker datepicker-options="options" ng-model="maxDate" class="well"></div>
				</div>
			</div>
		</div>
		<br>
		<div id="timeline"></div>
	</div>
</div>
