<div>

	<div class="createView" ng-include src="'html/views/createbatches.html'"> </div>

	<div class="batchView">
		<h3 style="margin-left: 1.33em"> View all batches </h1>
		<table class="table table-sm table-hover" style="width: 100%">
			<thead>
				<th>Batch Name</th>
				<th>Curriculum</th>
				<th>Trainer</th>
				<th>Location</th>
				<th>Start Date</th>
				<th>End Date</th>
				<th></th>
			</thead>
			<tbody>
				<tr ng-repeat="batch in Batches" ng-click="highlightBatch(batch)" ng-class="{'active': selectedBatch.batchID === batch.batchID}">
					<td>{{ batch.bName }}</td>
					<td>{{ batch.batchCurriculumID.curriculumName }}</td>
					<td>{{ batch.batchTrainerID.trainerFirstName }} {{ batch.batchTrainerID.trainerLastName }}</td>
					<td>{{ batch.batchRoomID.locationID.locationName }}</td>
					<td>{{ createDate(batch.batchStartDate) }}</td>
					<td>{{ createDate(batch.batchEndDate) }}</td>
					<td>
						<div class="btn-group">
							<button class="btn btn-primary btn-xs" ng-click="edit(batch)"> Edit </button>
							<button class="btn btn-warning btn-xs" ng-click="clone(batch)"> Clone </button>
							<button class="btn btn-danger btn-xs">Delete</button>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<br><br>
	<div ng-controller="TimelineCtrl">
		<div class="batchView">
			<h3>Batch Timeline</h3>
			<div class="row">
				<div class="col-md-2">
					<h4>Start Date:</h4>
					<div style="display: inline-block;" uib-datepicker datepicker-options="options" ng-model="minDate" class="well"></div>
				</div>
				<div class="col-md-2 col-md-offset-1">
					<h4>End Date:</h4>
					<div style="display: inline-block;" uib-datepicker datepicker-options="options" ng-model="maxDate" class="well"></div>
				</div>
			</div>
		</div>
		<br>
		<div id="timeline"></div>
	</div>
</div>