	
	<head>
		<meta charset="ISO-8859-1">
		<title>Batch Creation Page</title>
		
		<link href="css/createNewBatchCSS.css">
	</head>

	<h1 style="margin-left: .67em"> Batches </h1>
	
	<div ng-controller="batchCtrl">
		<div class="dataContainer newBatch" ng-cloak>
			<h3 id="createBatchHeader"> {{stateChanges[state].header}} </h3>

			<form name="batchForm" novalidate>

				<div class="leftGroup"> 

					  <!-- Name -->
					<input id="name" ng-model="batchName" type="text" placeholder="Name*"/>

					  <!-- Curriculum -->
					<select id="curr" ng-model="curr" ng-options="curric.curriculumName as curric.curriculumName for curric in currs" ng-change="removeGrey($event)">
						<option id="currPlace" disabled selected value=""> Curriculum </option>
					</select>

					  <!-- Trainer -->
					<select id="trainer" ng-model="trainer" ng-options="trainer.trainerFirstName as trainer.trainerFirstName for trainer in trainers" ng-change="removeGrey($event)">
						<option id="trainPlace" disabled selected value=""> Trainer </option>
					</select>

					  <!-- Cotrainer -->
					<select id="cotrainer" ng-model="cotrainer" ng-options="trainer.trainerFirstName as trainer.trainerFirstName for trainer in trainers" ng-change="removeGrey($event)">
						<option id="cotrainPlace" disabled selected value=""> Co-trainer </option>
					</select>

					  <!-- Location -->
					<select id="location" ng-model="location" ng-options="loc.locationName as loc.locationName for loc in locations | orderBy:'loc.locationName'" ng-change="removeGrey($event); enableRoom()">
						<option id="locPlace" disabled selected value=""> Location* </option>
					</select>

				 	  <!-- Room -->
					<select id="room" ng-model="room" ng-options="room.roomName as room.roomName for room in roomLoc[location] | orderBy:'roomName'" ng-disabled="roomDis" ng-change="removeGrey($event)">
						<option id="roomPlace" disabled selected value=""> Room </option>
					</select>

					  <!-- Start date -->
					<datetimepicker id="startDate" ng-model="startDate" placeholder="Start date" date-format="MMMM d, yyyy" date-options="dateOptions" date-disabled="isDisabledDate(date, mode)" hidden-time="true" ng-click="setEndDate(); updateWeeks()"> </datetimepicker>
					<span id="toSpan">&nbsp; to </span>

					  <!-- End date -->
					<datetimepicker id="endDate" ng-model="endDate" placeholder="End date" date-format="MMMM d, yyyy" date-options="dateOptions" date-disabled="isDisabledDate(date, mode)" hidden-time="true" ng-click="updateWeeks()"> </datetimepicker>

					  <!-- Week display -->
					<div id="weeks" ng-model="weeks"> {{weeks}} weeks </div>

					  <!-- Submit -->
					<!--<button id="submitBatch" ng-click="saveBatch()"> {{stateChanges[state].submit}} </button>-->
					<button id="submitBatch" ng-click="validate()"> {{stateChanges[state].submit}} </button>
				
				</div>
				<div class="rightGroup">
				
					  <!-- Skill search -->
					<input id="skills" type="text" placeholder="Skills" options="options" datasets="{{skills}}" ng-model="skillSet" sfTypeahead disabled="disabled" />
				
					  <!-- Skill search item list -->
					<skill-search-item skill="currSkill" remove="remove" ng-repeat="currSkill in skills"> </skillSearchItem>
				</div>

			</form>
		</div>

		<script src="js/modules/ui-bootstrap-custom-tpls-2.2.0.js"></script>
		
	</div>